
@import './dist/variable';
@import './dist/placeholder';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $white;
    color: $black;
}

a {
    color: $black;
    text-decoration-line: none;
    transition: .7s all ease-in-out;
}

header {
    @extend %column-evenly;
}
nav {
    @extend %flex-center-between;
    background-color: $white;
    color: $black;
    padding: 20px;
    box-shadow: 0 0 20px $black
}

ul {
    @extend %flex-center-between;
}
li {
    padding: 10px;
    list-style-type: none;
}