// *********** MES COULEURS *********************

$color_principale: #131212;
$color_secondaire: #fff5fb;





//        *************** MES BOUTTONS ***********************

$success: rgb(44, 228, 44);
$alert: rgb(243, 45, 45);
$blue: rgb(43, 43, 228);
